/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100vw;
  }

header {
  margin: 0;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.slogan {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 200px;
  left: 25%;
  z-index: 100;
  width: 50%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}

.heroHead {
  font-size: 40px;
  color: #fff;
  margin: 5px 0 30px 0;
}

  