nav {
    background: #ffff;
    color: gray;
    height: 100px;
    font-family: "DDC Heading Font Face",Univers,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navHead {
  padding-top: 25px;
  float: left;
  font-size: 30px;
}

.chevLogo {
    float: left;
    height: 100px;
    width: 190px;
    margin: 0 5px;
}

.cadLogo {
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px 5px 0 5px;
}

h1 {
	font-family: Origin, Helvetica Light, sans-serif;
  margin: 0;
  padding-top: 20px;
  float: left;
}

a { 
  height: 100px;
  width: 100px;
}

ul {
    position: absolute;
    top: 50px;
    right: 100px;
    width: calc(100%-100px);
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }